* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  .input-contact {
    display: flex;
    justify-content: space-between;
  }

  
  .contact-info {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
    width: 15rem;
    height: 2rem;
  }


  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profil-pic {
    width: 5rem;
    height: auto;
  }

  .photo-saved {
    display: flex;
    align-items: center;
    gap: 1rem;
  }